
<ul>
  <% @articles.each do |article| %>
  <!-- this should work (did have class='title') BUT want to have it so that it is testing that there are 10 different article titles being listed
  do something with id ?????-->
    <li id= '<%= article.id %>'> <%= article.title %> </li>
  <% end %>
</ul>
