@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


* {
  /*border: 1px solid lightgray;*/
  margin: 0 auto;
  font-family: 'Droid Serif', serif;
}

header {
  text-align: center;
}

#container {
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
}

h3 {
  margin-top: 20px;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: blue;
}

ul li a:hover{
  color: purple;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment {
  font-style: italic;
  font-size: small;

}




